    <div class="container-fluid mt-2" id="about">
        <div class="row bg-primary text-white p-5">
            <div class="col-sm-6 text-center mt-2">
                <i class="fab fa-github fa-5x"></i>
                <i class="fab fa-linkedin fa-5x ml-5"></i>
            </div>

            <div class="col-sm-6 text-center">
                <h2 class="text-white">DRUMPADD</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, atque veritatis in voluptates neque soluta dicta tenetur! Deleniti, est? Impedit.</p>
            </div>
        </div>
    </div>
</body>
</html>